body {
    background-color: rgba(0,0,0,0.4);
}

.list-group {
    color: #fff;
}

.list-group-item {
    background-color: rgba(0,0,0,0.1);
}

    .list-group-item:first-child {
        margin-top: 20px;
    }

    .list-group-item:not(:first-child) {
        text-align: center;
        color: #fff;
    }

        .list-group-item:not(:first-child) table th, .list-group-item:not(:first-child) table td {
            color: #fff;
            padding: 4px 8px;
        }

hr {
    color: #808080;
    background-color: #808080;
}

[id^="searchView" ] {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 145px;
    background-color: rgba(0, 0, 0,0.64);
    transform: translateY(100%);
    transition: all 0.3s ease;
    left: 0px;
}

    [id^="searchView" ] #close1 {
        position: fixed;
        top: 20px;
        right: 20px;
        transition: all 0.3s ease;
        cursor: pointer;
    }

        [id^="searchView" ] #close1:hover {
            transform: scale(1.2);
        }

            [id^="searchView" ] #close1:hover path {
                fill: coral;
            }



    [id^="searchView" ] #close2 {
        position: fixed;
        top: 20px;
        right: 20px;
        transition: all 0.3s ease;
        cursor: pointer;
    }

        [id^="searchView" ] #close2:hover {
            transform: scale(1.2);
        }

            [id^="searchView" ] #close2:hover path {
                fill: coral;
            }


    [id^="searchView" ] #close3 {
        position: fixed;
        top: 20px;
        right: 20px;
        transition: all 0.3s ease;
        cursor: pointer;
    }

        [id^="searchView" ] #close3:hover {
            transform: scale(1.2);
        }

            [id^="searchView" ] #close3:hover path {
                fill: coral;
            }
